# Heading

## ghkjghkgk

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('recipes_muffins_cupcakes.csv')

In [3]:
data

       Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanilla  Salt
0    Muffin     55    28      3       7    5              2        0     0
1    Muffin     47    24     12       6    9              1        0     0
2    Muffin     47    23     18       6    4              1        0     0
3    Muffin     45    11     17      17    8              1        0     0
4    Muffin     50    25     12       6    5              2        1     0
5    Muffin     55    27      3       7    5              2        1     0
6    Muffin     54    27      7       5    5              2        0     0
7    Muffin     47    26     10      10    4              1        0     0
8    Muffin     50    17     17       8    6              1        0     0
9    Muffin     50    17     17      11    4              1        0     0
10  Cupcake     39     0     26      19   14              1        1     0
11  Cupcake     42    21     16      10    8              3        0     0
12  Cupcake     34    17     20      20    5              2        1     0
13  Cupcake     39    13     17      19   10              1        1     0
14  Cupcake     38    15     23      15    8              0        1     0
15  Cupcake     42    18     25       9    5              1        0     0
16  Cupcake     36    14     21      14   11              2        1     0
17  Cupcake     38    15     31       8    6              1        1     0
18  Cupcake     36    16     24      12    9              1        1     0
19  Cupcake     34    17     23      11   13              0        1     0

In [4]:
data.head(10)

     Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanilla  Salt
0  Muffin     55    28      3       7    5              2        0     0
1  Muffin     47    24     12       6    9              1        0     0
2  Muffin     47    23     18       6    4              1        0     0
3  Muffin     45    11     17      17    8              1        0     0
4  Muffin     50    25     12       6    5              2        1     0
5  Muffin     55    27      3       7    5              2        1     0
6  Muffin     54    27      7       5    5              2        0     0
7  Muffin     47    26     10      10    4              1        0     0
8  Muffin     50    17     17       8    6              1        0     0
9  Muffin     50    17     17      11    4              1        0     0

In [5]:
data.describe()

,Flour,Milk,Sugar,Butter,Egg,Baking Powder,Vanilla,Salt
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0
mean,43.900000,18.550000,17.100000,11.000000,7.200000,1.300000,0.500000,0.0
std,7.018022,6.801509,7.538672,4.801316,3.019237,0.732695,0.512989,0.0
min,34.000000,0.000000,3.000000,5.000000,4.000000,0.000000,0.000000,0.0
25%,38.000000,15.000000,12.000000,7.000000,5.000000,1.000000,0.000000,0.0
50%,43.500000,17.000000,17.000000,10.000000,6.000000,1.000000,0.500000,0.0
75%,50.000000,24.250000,23.000000,14.250000,9.000000,2.000000,1.000000,0.0
max,55.000000,28.000000,31.000000,20.000000,14.000000,3.000000,1.000000,0.0